<ul class="people">
{{#each people}}
<li class="people__item">
    <p class="people__name">{{name}}</p>
    <p class="people__age">{{age}}</p>
    <p class="people__location">{{location}}</p>
</li>
{{/each}}
</ul>